


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OXYGEN | Adiposidad Localizada</title>
    <link rel="stylesheet" href="../../Cards.css">
    <link rel="stylesheet" href="./serverCSS.css">
  
     <!-- Fuente texto || font-family: 'Raleway', sans-serif;  -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  
  
  </head>
    <body>
        
         
      <header>
        <nav class="navbar">
          <div class="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
            <div class="logo">
              <a href="../../../../index.html"><img src="../../../img/oxygen.png" class="oxygen"></a>
            </div>
            <ul class="menu">
              <li><a href="../../../../index.html">Inicio</a></li>
              <li><a href="../../Acerca.html">Acerca de</a></li>
              <li>
                <p >Servicios</p>
                  <select>
                  <option></option>
                  <option id="facial">Facial</option>
                  <option id="corporal">Corporal</option>
                  </select>
              </li>
              <li><a href="../../Contacto.html">Contacto</a></li>
            </ul>
          </nav>
    </header>
    <div class="menu-hamburger">
        <ul class="menuH">
            <a href="../../../../index.html">Inicio</a>
            <br>
            <br>
            <a href="../../Acerca.html">Acerca de</a>
            <br>
            <br>
            <select>
              <option></option>
              <option id="facial">Facial</option>
              <option id="corporal">Corporal</option>
            </select>
            <p >Servicios</p>
            <br>
            <br>
           <a href="../../Contacto.html">Contacto</a>
          </ul>
    </div>
    

    <div class="containerDivCard">
        <img src="../../../img/imgSer-/adi.jpg" alt="">
        <h3 class="servTitel" > Adiposidad Localizada</h3>
        <hr class="hr2">
        <div class="description">
          <img src="../../../img/imgSer-/adi2.webp" alt="">
          <div class="tratamiento">
            <p>
                El tratamiento de adiposidad localizada es un conjunto de técnicas que se utilizan para reducir la grasa localizada en áreas específicas del cuerpo. La adiposidad localizada se refiere a la acumulación de grasa en áreas específicas del cuerpo, como el abdomen, los muslos, los glúteos o los brazos.
            <br><br>
            Los tratamientos para la adiposidad localizada pueden incluir técnicas como la criolipólisis, que utiliza temperaturas frías para congelar y eliminar las células de grasa en áreas específicas del cuerpo, y la lipólisis láser, que utiliza láser para derretir la grasa localizada y estimular la producción de colágeno para mejorar la apariencia de la piel.
            </div>
        </div>
        <br>
    </div>
    <hr class="hr2">
    <div class="destacados">
      <h3><span>Trtamientos</span> Destacados </h3>
      <div class="serDestacados">
        <div class="cardDes" >
          <a href="#"><img src="../../../img/Ser Destacados/02-682x1024.jpg" alt=""></a>
            <p>hola</p>
          </div>
          <div class="cardDes">
            <a href="#"><img src="../../../img/Ser Destacados/b7c5dfddaa03b3283073c3e827c2690cbf36960c.jpg" alt=""></a>
            <p>hola</p>
          </div>
          <div class="cardDes">
            <a href="#"><img src="../../../img/Ser Destacados/JMFCE3SFUNG4BNU2ZSY22JZPOM.jpg" alt=""></a>
            <p>hola</p>
          </div>
      </div>
      
    </div>
     
     
     
     
    <script src="../servDetal.js" ></script> <!-- Debo de crear un js para facila y corporal-->
</body>
</html>