
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OXYGEN | Acerca</title>
    <link rel="stylesheet" href="./indexJr.css">
    <link rel="stylesheet" href="./Cards.css">
    <link rel="stylesheet" href="./Acerca.css">
    
    <!-- Font Family || font-family: 'Raleway', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  </head>
    <body>
        
        <header>
            <nav class="navbar">
              <div class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
                <div class="logo">
                  <a href="../../index.html"><img src="../img/oxygen.png" class="oxygen"></a>
                </div>
                <ul class="menu">
                  <li><a href="../../index.html">Inicio</a></li>
                  <li><a href="./Acerca.html">Acerca de</a></li>
                  <li>
                    <p >Servicios</p>
                      <select>
                      <option></option>
                      <option id="facial">Facial</option>
                      <option id="corporal">Corporal</option>
                      </select>
                  </li>
                  <li><a href="./Contacto.html">Contacto</a></li>
                </ul>
              </nav>
        </header>
        <div class="menu-hamburger">
            <ul class="menuH">
                <a href="../../index.html">Inicio</a>
                <br>
                <br>
                <a href="./Acerca.html">Acerca de</a>
                <br>
                <br>
                <select>
                  <option></option>
                  <option id="facial">Facial</option>
                  <option id="corporal">Corporal</option>
                </select>
                <p >Servicios</p>
                <br>
                <br>
               <a href="./Contacto.html">Contacto</a>
              </ul>
        </div>
        
  
        <div class="containerDivCard">
         
          <div class="Acerca">
            <img src="../img/Acerca/Vanu.jpg" alt="">
            <h2>Hola, mi nombre es Dra. Vanessa Figueroa y soy especialista en medicina estética en Oxygen. Me apasiona ayudar a mis pacientes a sentirse seguros y seguras en su propia piel y estoy comprometida con la excelencia en mi trabajo.

              Como médica, me enorgullece ofrecer tratamientos personalizados que están diseñados para satisfacer las necesidades y objetivos de cada paciente. Con mi formación en las últimas técnicas y tecnologías en medicina estética, estoy equipada para ofrecer una amplia gama de servicios, desde rejuvenecimiento facial y eliminación de arrugas hasta tratamientos corporales y de contorno.
              
              Creo que la belleza comienza desde adentro y, por lo tanto, me esfuerzo por ayudar a mis pacientes a alcanzar sus objetivos de bienestar general. A través de una combinación de tratamientos estéticos y asesoramiento sobre hábitos de vida saludables, ayudo a mis pacientes a verse y sentirse mejor que nunca.
              
              En Oxygen, nos enorgullece ofrecer una experiencia única y personalizada para cada uno de nuestros pacientes. Nuestro equipo altamente capacitado y amable está aquí para apoyarte en cada paso del camino y asegurarte de que tus necesidades y deseos se cumplan. Si estás buscando mejorar tu apariencia y confianza en ti mismo, no dudes en ponerte en contacto conmigo o con nuestro equipo en Oxygen. ¡Esperamos poder ayudarte!</h2>
          </div>
        
        </div>
         
         
         
         
        <script src="./Serv.js" ></script>
    </body>
    </html>