
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OXYGEN | Corporal</title>
    <link rel="stylesheet" href="../indexJr.css">
    <link rel="stylesheet" href="../Cards.css">
    
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  </head>
    <body>
        
      <header>
        <nav class="navbar">
          <div class="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
            <div class="logo">
              <a href="../../../index.html"><img src="../../img/oxygen.png" class="oxygen"></a>
            </div>
            <ul class="menu">
              <li><a href="../../../index.html">Inicio</a></li>
              <li><a href="../Acerca.html">Acerca de</a></li>
              <li>
                <p >Servicios</p>
                  <select>
                  <option></option>
                  <option id="facial">Facial</option>
                  <option id="corporal">Corporal</option>
                  </select>
              </li>
              <li><a href="../Contacto.html">Contacto</a></li>
            </ul>
          </nav>
    </header>
        <div class="menu-hamburger">
            <ul class="menuH">
                <a href="../../../index.html">Inicio</a>
                <br>
                <br>
                <a href="../Acerca.html">Acerca de</a>
                <br>
                <br>
                <select>
                  <option></option>
                  <option id="facial">Facial</option>
                  <option id="corporal">Corporal</option>
                </select>
                <p >Servicios</p>
                <br>
                <br>
               <a href="../Contacto.html">Contacto</a>
              </ul>
        </div>
        
  
        <div class="containerDivCard">
          <div class="servicios">
          
           </div>
           
        </div>
         
         
         
         
        <script src="./Corporal.js"></script>
    </body>
    </html>