
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OXYGEN | Long Lasting</title>
    <link rel="stylesheet" href="../../Cards.css">
    <link rel="stylesheet" href="./serverCSS.css">
  
     <!-- Fuente texto || font-family: 'Raleway', sans-serif;  -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  
  
  </head>
    <body>
        
         
      <header>
        <nav class="navbar">
          <div class="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
            <div class="logo">
              <a href="../../../../index.html"><img src="../../../img/oxygen.png" class="oxygen"></a>
            </div>
            <ul class="menu">
              <li><a href="../../../../index.html">Inicio</a></li>
              <li><a href="../../Acerca.html">Acerca de</a></li>
              <li>
                <p >Servicios</p>
                  <select>
                  <option></option>
                  <option id="facial">Facial</option>
                  <option id="corporal">Corporal</option>
                  </select>
              </li>
              <li><a href="../../Contacto.html">Contacto</a></li>
            </ul>
          </nav>
    </header>
    <div class="menu-hamburger">
        <ul class="menuH">
            <a href="../../../../index.html">Inicio</a>
            <br>
            <br>
            <a href="../../Acerca.html">Acerca de</a>
            <br>
            <br>
            <select>
              <option></option>
              <option id="facial">Facial</option>
              <option id="corporal">Corporal</option>
            </select>
            <p >Servicios</p>
            <br>
            <br>
           <a href="../../Contacto.html">Contacto</a>
          </ul>
    </div>
    

    <div class="containerDivCard">
        <img src="../../../img/imgSer-/long.jpeg" alt="">
        <h3 class="servTitel" >Long Lasting</h3>
        <hr class="hr2">
        <div class="description">
          <img src="../../../img/imgSer-/long2.jpg" alt="">
          <div class="tratamiento">
            <p>
                El término "long lasting" se utiliza comúnmente en relación con los rellenos dérmicos, como el ácido hialurónico, que se utilizan para suavizar las arrugas y líneas finas de expresión, rellenar los labios y mejorar la apariencia general de la piel. Los rellenos dérmicos de "long lasting" tienen una duración de hasta 18 meses, lo que significa que se necesitan menos tratamientos de seguimiento para mantener los resultados. <br><br>
                Otro tratamiento estético de "long lasting" es la depilación láser, que utiliza tecnología láser para eliminar el vello no deseado de manera permanente o de larga duración. A diferencia de la depilación con cera o afeitado, que deben ser repetidos cada pocos días o semanas, la depilación láser puede durar varios meses o incluso años, lo que significa que se necesitan menos tratamientos para lograr y mantener los resultados deseados.
               </p>
            </div>
        </div>
        <br>
    </div>
    <hr class="hr2">
    <div class="destacados">
      <h3><span>Trtamientos</span> Destacados </h3>
      <div class="serDestacados">
        <div class="cardDes" >
          <a href="#"><img src="../../../img/Ser Destacados/02-682x1024.jpg" alt=""></a>
            <p>hola</p>
          </div>
          <div class="cardDes">
            <a href="#"><img src="../../../img/Ser Destacados/b7c5dfddaa03b3283073c3e827c2690cbf36960c.jpg" alt=""></a>
            <p>hola</p>
          </div>
          <div class="cardDes">
            <a href="#"><img src="../../../img/Ser Destacados/JMFCE3SFUNG4BNU2ZSY22JZPOM.jpg" alt=""></a>
            <p>hola</p>
          </div>
      </div>
      
    </div>
     
     
     
     
    <script src="../servDetal.js" ></script> <!-- Debo de crear un js para facila y corporal-->
</body>
</html>