
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OXYGEN | Rinomodelacion</title>
    <link rel="stylesheet" href="../../Cards.css">
    <link rel="stylesheet" href="./serverCSS.css">
  
     <!-- Fuente texto || font-family: 'Raleway', sans-serif;  -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  
  
  </head>
    <body>
        
         
      <header>
        <nav class="navbar">
          <div class="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
            <div class="logo">
              <a href="../../../../index.html"><img src="../../../img/oxygen.png" class="oxygen"></a>
            </div>
            <ul class="menu">
              <li><a href="../../../../index.html">Inicio</a></li>
              <li><a href="../../Acerca.html">Acerca de</a></li>
              <li>
                <p >Servicios</p>
                  <select>
                  <option></option>
                  <option id="facial">Facial</option>
                  <option id="corporal">Corporal</option>
                  </select>
              </li>
              <li><a href="../../Contacto.html">Contacto</a></li>
            </ul>
          </nav>
    </header>
    <div class="menu-hamburger">
        <ul class="menuH">
            <a href="../../../../index.html">Inicio</a>
            <br>
            <br>
            <a href="../../Acerca.html">Acerca de</a>
            <br>
            <br>
            <select>
              <option></option>
              <option id="facial">Facial</option>
              <option id="corporal">Corporal</option>
            </select>
            <p >Servicios</p>
            <br>
            <br>
           <a href="../../Contacto.html">Contacto</a>
          </ul>
    </div>
    

    <div class="containerDivCard">
        <img src="../../../img/imgSer-/nariz.jpg" alt="">
        <h3 class="servTitel" >Rinomodelacion</h3>
        <hr class="hr2">
        <div class="description">
          <img src="../../../img/imgSer-/nariz1.avif" alt="">
          <div class="tratamiento">
            <p>Es un tratamiento estético no quirúrgico que se utiliza para cambiar la forma de la nariz sin la necesidad de cirugía. En lugar de realizar incisiones en la piel, la rinomodelación implica la inyección de materiales de relleno, como el ácido hialurónico, en la nariz para cambiar su forma y tamaño.<br><br>El procedimiento generalmente toma entre 15 y 30 minutos. Primero, se aplica anestesia local en la nariz para minimizar cualquier dolor o molestia. Luego, se inyecta cuidadosamente el material de relleno en áreas específicas de la nariz para lograr la forma deseada. El médico puede utilizar un espejo para evaluar el progreso del tratamiento y ajustar la cantidad de material de relleno según sea necesario.</p>
          </div>
        </div>
        <br>
    </div>
    <hr class="hr2">
    <div class="destacados">
      <h3><span>Trtamientos</span> Destacados </h3>
      <div class="serDestacados">
        <div class="cardDes" >
          <a href="#"><img src="../../../img/Ser Destacados/02-682x1024.jpg" alt=""></a>
            <p>hola</p>
          </div>
          <div class="cardDes">
            <a href="#"><img src="../../../img/Ser Destacados/b7c5dfddaa03b3283073c3e827c2690cbf36960c.jpg" alt=""></a>
            <p>hola</p>
          </div>
          <div class="cardDes">
            <a href="#"><img src="../../../img/Ser Destacados/JMFCE3SFUNG4BNU2ZSY22JZPOM.jpg" alt=""></a>
            <p>hola</p>
          </div>
      </div>
      
    </div>
     
     
     
     
    <script src="../servDetal.js" ></script> <!-- Debo de crear un js para facila y corporal-->

</body>
</html>