
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OXYGEN | Skinbooster</title>
    <link rel="stylesheet" href="../../Cards.css">
    <link rel="stylesheet" href="./serverCSS.css">
  
     <!-- Fuente texto || font-family: 'Raleway', sans-serif;  -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  
  
  </head>
    <body>
        
         
      <header>
        <nav class="navbar">
          <div class="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
            <div class="logo">
              <a href="../../../../index.html"><img src="../../../img/oxygen.png" class="oxygen"></a>
            </div>
            <ul class="menu">
              <li><a href="../../../../index.html">Inicio</a></li>
              <li><a href="../../Acerca.html">Acerca de</a></li>
              <li>
                <p >Servicios</p>
                  <select>
                  <option></option>
                  <option id="facial">Facial</option>
                  <option id="corporal">Corporal</option>
                  </select>
              </li>
              <li><a href="../../Contacto.html">Contacto</a></li>
            </ul>
          </nav>
    </header>
    <div class="menu-hamburger">
        <ul class="menuH">
            <a href="../../../../index.html">Inicio</a>
            <br>
            <br>
            <a href="../../Acerca.html">Acerca de</a>
            <br>
            <br>
            <select>
              <option></option>
              <option id="facial">Facial</option>
              <option id="corporal">Corporal</option>
            </select>
            <p >Servicios</p>
            <br>
            <br>
           <a href="../../Contacto.html">Contacto</a>
          </ul>
    </div>
    

    <div class="containerDivCard">
        <img src="../../../img/imgSer-/skinbooster.jpeg" alt="">
        <h3 class="servTitel" >Skinbooster</h3>
        <hr class="hr2">
        <div class="description">
          <img src="../../../img/imgSer-/skinbooster2.jpeg" alt="">
          <div class="tratamiento">
            <p>Es un procedimiento no quirúrgico que consiste en la inyección de ácido hialurónico en la piel para mejorar su hidratación, elasticidad y textura. El ácido hialurónico es una sustancia natural presente en el cuerpo humano que ayuda a mantener la piel hidratada y firme.<br><br>
              Durante el tratamiento, el ácido hialurónico se inyecta en la piel en pequeñas cantidades utilizando una aguja muy fina. El objetivo es hidratar la piel y estimular la producción de colágeno, lo que puede ayudar a reducir la apariencia de líneas finas y arrugas, mejorar la elasticidad de la piel y aumentar su luminosidad. El tratamiento de Skinbooster es especialmente útil para personas que buscan una mejoría en la apariencia de la piel seca o deshidratada, así como para aquellos que quieren prevenir los signos del envejecimiento en la piel. Los resultados pueden durar de varios meses a un año, dependiendo de la técnica utilizada y del tipo de ácido hialurónico utilizado.</p>
          </div>
        </div>
        <br>
    </div>
    <hr class="hr2">
    <div class="destacados">
      <h3><span>Trtamientos</span> Destacados </h3>
      <div class="serDestacados">
        <div class="cardDes" >
          <a href="#"><img src="../../../img/Ser Destacados/02-682x1024.jpg" alt=""></a>
            <p>hola</p>
          </div>
          <div class="cardDes">
            <a href="#"><img src="../../../img/Ser Destacados/b7c5dfddaa03b3283073c3e827c2690cbf36960c.jpg" alt=""></a>
            <p>hola</p>
          </div>
          <div class="cardDes">
            <a href="#"><img src="../../../img/Ser Destacados/JMFCE3SFUNG4BNU2ZSY22JZPOM.jpg" alt=""></a>
            <p>hola</p>
          </div>
      </div>
      
    </div>
     
     
     
     
    <script src="../servDetal.js" ></script> <!-- Debo de crear un js para facila y corporal-->

</body>
</html>