
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OXYGEN | Toxina Botulínica</title>
    <link rel="stylesheet" href="../../Cards.css">
    <link rel="stylesheet" href="./serverCSS.css">
  
     <!-- Fuente texto || font-family: 'Raleway', sans-serif;  -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  
  
  </head>
    <body>
        
         
      <header>
        <nav class="navbar">
          <div class="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
            <div class="logo">
              <a href="../../../../index.html"><img src="../../../img/oxygen.png" class="oxygen"></a>
            </div>
            <ul class="menu">
              <li><a href="../../../../index.html">Inicio</a></li>
              <li><a href="../../Acerca.html">Acerca de</a></li>
              <li>
                <p >Servicios</p>
                  <select>
                  <option></option>
                  <option id="facial">Facial</option>
                  <option id="corporal">Corporal</option>
                  </select>
              </li>
              <li><a href="../../Contacto.html">Contacto</a></li>
            </ul>
          </nav>
    </header>
    <div class="menu-hamburger">
        <ul class="menuH">
            <a href="../../../../index.html">Inicio</a>
            <br>
            <br>
            <a href="../../Acerca.html">Acerca de</a>
            <br>
            <br>
            <select>
              <option></option>
              <option id="facial">Facial</option>
              <option id="corporal">Corporal</option>
            </select>
            <p >Servicios</p>
            <br>
            <br>
           <a href="../../Contacto.html">Contacto</a>
          </ul>
    </div>
    

    <div class="containerDivCard">
        <img src="../../../img/imgSer-/toxina.jpg" alt="">
        <h3 class="servTitel" >Toxina Botulínica</h3>
        <hr class="hr2">
        <div class="description">
          <img src="../../../img/imgSer-/toxina2.jpg" alt="">
          <div class="tratamiento">
            <p>
              El tratamiento estético con toxina botulínica, comúnmente conocido como Botox, consiste en la inyección de una proteína purificada en ciertos músculos del rostro.La toxina botulínica actúa bloqueando temporalmente la capacidad de los músculos para contraerse, lo que ayuda a reducir la apariencia de las líneas de expresión y arrugas faciales dinámicas (aquellas que se forman por los movimientos musculares). 
              
             <br><br> Este tratamiento se utiliza principalmente en la frente, entrecejo y alrededor de los ojos, pero también se puede usar en otras áreas del rostro y cuello. 
              Es importante destacar que este tratamiento debe ser realizado por un profesional capacitado y experimentado, ya que una mala aplicación puede llevar a efectos no deseados o complicaciones. Además, no es recomendable para todas las personas, por lo que es necesario una evaluación médica previa para determinar si es adecuado para el paciente.
            </p>
            </div>
        </div>
        <br>
    </div>
    <hr class="hr2">
    <div class="destacados">
      <h3><span>Trtamientos</span> Destacados </h3>
      <div class="serDestacados">
        <div class="cardDes" >
          <a href="#"><img src="../../../img/Ser Destacados/02-682x1024.jpg" alt=""></a>
            <p>hola</p>
          </div>
          <div class="cardDes">
            <a href="#"><img src="../../../img/Ser Destacados/b7c5dfddaa03b3283073c3e827c2690cbf36960c.jpg" alt=""></a>
            <p>hola</p>
          </div>
          <div class="cardDes">
            <a href="#"><img src="../../../img/Ser Destacados/JMFCE3SFUNG4BNU2ZSY22JZPOM.jpg" alt=""></a>
           
            <p>hola</p>
          </div>
      </div>
      
    </div>
     
     
     
     
    <script src="../servDetal.js" ></script> <!-- Debo de crear un js para facila y corporal-->
</body>
</html>